#Vs code
.vscode

#Documents
*.pdf
gaudeamus
FIT.ovpn

# Projects which have their own repos
ivs/ivs_project2
ifj
ipk

# Images
*.png
*.jpeg

# Videos
ial/zaznamy_Krena/

inp/inp22-projekt1/env/
inp/inp22-projekt1/zadani/test/
inp/INP2022-projekt2/edumips64-1.2.10.jar
ity/fromStepa/
its/ITS-fitcheats/
*.wav
iss/notebooks

#####################################
# auto generated stuff from github (for language C) 

# a bit of my own stuff
ipp/projekt/tests/
ips/du3

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

